.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.card {
  display: grid;
  grid-template-rows: 250px auto 50px;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px grey;
  transition: transform 0.1s linear;
}
.card:hover,
.card:focus {
  transform: scale(1.1);
}
.cardImage {
  max-height: 250px;
  max-width: 250px;
  align-self: center;
  justify-self: center;
}

.cardTitle {
  font-size: 18px;
}

.cardPrice {
  color: green;
  font-weight: bold;
  justify-self: end;
}
