html {
  scrollbar-gutter: stable;
}
#shop-page {
  height: 100%;
  background-color: rgba(230, 196, 150, 255);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(91, 112, 159, 255);
  border-radius: 5px;
}

#search-form {
  display: flex;
  justify-content: center;
  margin: auto;
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  padding: 15px 25px 30px 25px;
  width: 50vw;
  gap: 10px;
  background-color: rgba(91, 112, 159, 255);
}
#search-form > input {
  border-radius: 5px;
  border: 1px solid rgba(91, 112, 159, 255);
  font-size: 20px;
  padding: 5px;
  height: 30px;
  flex: 2;
  max-width: 500px;
  min-width: 100px;
}

#search-form > select {
  flex: 1;
  font-size: 20px;
  max-width: fit-content;
  min-width: 50px;
  border-radius: 5px;
  border: 1px solid rgba(91, 112, 159, 255);
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  padding: 50px;
  gap: 25px;
}

.card {
  display: grid;
  gap: 10px;
  grid-template-rows: 200px auto 30px;
  border-radius: 10px;
  min-height: 350px;
  width: 250px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 5px 1px black;
  cursor: pointer;
  transition: transform 0.1s linear;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.card:hover,
.card:focus {
  transform: scale(1.03);
  border: 1px solid rgba(91, 112, 159, 255);
  outline: 1px solid rgba(91, 112, 159, 255);
  box-shadow: 1px 1px 5px 1px rgba(91, 112, 159, 255);
}
.cardImage {
  max-height: 200px;
  max-width: 200px;
}

.cardTitle {
  margin: 0 25px;
  font-size: 18px;
}

.cardPrice {
  color: green;
  font-weight: bold;
  justify-self: end;
  margin: 0 25px;
}

@media screen and (max-width: 500px) {
  #cards-container {
    padding: 50px 0;
  }
  .card {
    width: 200px;
  }
  #search-form {
    max-width: 200px;
  }
}
