.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cards-container img {
  height: 200px;
  width: 200px;
}

.card {
  display: grid;
  grid-template-rows: 200px auto 50px;
  border: 1px solid;
  border-radius: 10px;
  width: 250px;
  padding: 10px;
}
