html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  display: flex;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

i {
  color: #818181;
}

#sidebar {
  height: 100vh;
  width: 300px;
  background-color: lightblue;
  position: sticky;
  top: 0;
}

#sidebar > .home-link {
  text-decoration: none;
  text-align: center;
  color: inherit;
}
#sidebar nav {
  flex: 1;
  overflow: auto;
  padding-top: 1rem;
}

#sidebar nav .active i {
  color: inherit;
}
#sidebar nav img {
  height: 30px;
  width: 30px;
}
#sidebar nav .active img {
  filter: invert();
}

#sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#sidebar li {
  margin: 0.25rem 0;
}
#sidebar nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: pre;
  padding: 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
  gap: 1rem;
}
#sidebar nav a:hover {
  background: #e3e3e3;
}

#sidebar nav a.active span {
  color: inherit;
}

#sidebar nav .active i {
  color: inherit;
}

#sidebar nav a.active {
  background: hsl(224, 98%, 58%);
  color: white;
}

#sidebar nav a.pending {
  color: hsl(224, 98%, 58%);
}

#content {
  flex: 1;
  width: 100%;
  padding: 2rem 4rem;
}

#content.loading {
  opacity: 0.25;
  transition: opacity 200ms;
  transition-delay: 200ms;
}
